In [1]:
import random
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth, association_rules

SEED = 1031
random.seed(SEED)
np.random.seed(SEED)

In [2]:
data = pd.read_csv('3425.csv')
data = data.set_index('SRCID')

In [3]:
target = 'A1'
excludes = ['A4F2_agg']
data = data.loc[:, ~data.columns.isin(excludes)]
data

,Mode,A1,A2,undecided_voter,A3,A4a,A4b,A4c,A4d,A4e,...,F1h,F2a,F2b,F2c,p_gender_sdc,p_age_group_sdc,p_education_sdc,p_state_sdc,StateMap,opinionated
SRCID,,,,,,,,,,,,,,,,,,,,,
2,2,2,1,False,8,2,2,2,2,2,...,3,2,3,2,2,4,3,1,1,False
3,2,2,24,False,7,2,3,2,1,2,...,2,5,4,4,2,4,1,4,4,True
4,2,2,1,False,7,2,2,2,1,2,...,3,2,2,2,2,4,3,5,5,False
6,2,2,3,False,6,3,3,2,2,2,...,1,-98,2,2,2,4,3,4,4,False
7,2,2,1,False,5,2,3,2,2,1,...,1,1,1,1,2,4,3,1,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3581,1,2,1,False,4,1,2,1,1,1,...,2,2,1,2,2,2,1,2,2,True
3583,1,2,3,False,9,1,2,1,1,1,...,1,2,3,2,2,4,3,5,5,True
3585,1,1,-98,True,10,1,3,1,1,1,...,2,2,2,3,1,3,1,3,3,True
3587,1,2,1,False,9,2,2,1,2,1,...,1,2,2,2,2,3,2,5,5,True
3588,1,4,3,False,6,3,3,3,2,2,...,3,2,3,3,2,4,1,2,2,False

In [4]:
cols = [i for i in data.keys() if i not in (target)]
inputs = data[cols]
inputs = pd.get_dummies(inputs, prefix=cols, columns=cols)
inputs

,Mode_1,Mode_2,A2_-99,A2_-98,A2_1,A2_2,A2_3,A2_4,A2_5,A2_6,...,StateMap_1,StateMap_2,StateMap_3,StateMap_4,StateMap_5,StateMap_6,StateMap_7,StateMap_8,opinionated_False,opinionated_True
SRCID,,,,,,,,,,,,,,,,,,,,,
2,0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
6,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
7,0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3581,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3583,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3585,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3587,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3588,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [5]:
cols = [target]
targets = data[cols]
targets = pd.get_dummies(targets, prefix=cols, columns=cols)
targets

       A1_-98  A1_1  A1_2  A1_3  A1_4  A1_5
SRCID
2           0     0     1     0     0     0
3           0     0     1     0     0     0
4           0     0     1     0     0     0
6           0     0     1     0     0     0
7           0     0     1     0     0     0
...       ...   ...   ...   ...   ...   ...
3581        0     0     1     0     0     0
3583        0     0     1     0     0     0
3585        0     1     0     0     0     0
3587        0     0     1     0     0     0
3588        0     0     0     0     1     0

[3061 rows x 6 columns]

In [6]:
df = targets.join(inputs)
frequent_itemsets = fpgrowth(df, min_support=0.4, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
#rules.loc['A1' in rules['consequents']]
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(E1d_2),(B1b_2),0.950016,0.985626,0.936295,0.985557,0.999930,-0.000065,0.995255
1,(B1b_2),(E1d_2),0.985626,0.950016,0.936295,0.949950,0.999930,-0.000065,0.998680
2,(E1c_2),(B1b_2),0.948383,0.985626,0.934662,0.985532,0.999905,-0.000089,0.993544
3,(B1b_2),(E1c_2),0.985626,0.948383,0.934662,0.948293,0.999905,-0.000089,0.998262
4,(E1d_2),(E1c_2),0.950016,0.948383,0.910160,0.958047,1.010190,0.009181,1.230349
...,...,...,...,...,...,...,...,...,...
1487850,(E1c_2),"(E1d_2, Mode_1, B1c_2, B1b_2, undecided_voter_...",0.948383,0.790265,0.757269,0.798484,1.010401,0.007795,1.040789
1487851,(Mode_1),"(E1d_2, E1c_2, B1c_2, B1b_2, undecided_voter_F...",0.940869,0.808886,0.757269,0.804861,0.995024,-0.003787,0.979374
1487852,(B1c_2),"(E1d_2, E1c_2, Mode_1, B1b_2, undecided_voter_...",0.942829,0.797779,0.757269,0.803188,1.006780,0.005100,1.027485
1487853,(B1b_2),"(E1d_2, E1c_2, Mode_1, B1c_2, undecided_voter_...",0.985626,0.762496,0.757269,0.768313,1.007629,0.005733,1.025107
1487854,(undecided_voter_False),"(E1d_2, E1c_2, Mode_1, B1c_2, B1b_2)",0.947403,0.798105,0.757269,0.799310,1.001510,0.001142,1.006005

In [7]:
df = targets.join(inputs)
frequent_itemsets = fpgrowth(df, min_support=0.55, use_colnames=True)
frequent_itemsets

       support                                           itemsets
0     0.985626                                            (B1b_2)
1     0.950016                                            (E1d_2)
2     0.948383                                            (E1c_2)
3     0.947403                            (undecided_voter_False)
4     0.942829                                            (B1c_2)
...        ...                                                ...
2523  0.833061                      (Mode_1, E1c_2, B1c_2, B1b_2)
2524  0.798105               (E1d_2, E1c_2, Mode_1, B1c_2, B1b_2)
2525  0.762496  (E1d_2, E1c_2, Mode_1, B1c_2, undecided_voter_...
2526  0.789938  (E1c_2, Mode_1, B1c_2, B1b_2, undecided_voter_...
2527  0.757269  (E1d_2, E1c_2, Mode_1, B1c_2, B1b_2, undecided...

[2528 rows x 2 columns]

In [8]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.61)
t = 'A1_2'
rules.loc[[t in ic for ic in rules['consequents']]]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
75827,(B1b_2),(A1_2),0.985626,0.616139,0.607971,0.616838,1.001135,0.000689,1.001825
75828,(E1d_2),(A1_2),0.950016,0.616139,0.590003,0.621045,1.007964,0.004662,1.012948
75831,(undecided_voter_False),(A1_2),0.947403,0.616139,0.589677,0.622414,1.010185,0.005945,1.016619
75832,(E1c_2),(A1_2),0.948383,0.616139,0.588043,0.620048,1.006346,0.003708,1.010290
75835,(B1c_2),(A1_2),0.942829,0.616139,0.583143,0.618503,1.003838,0.002229,1.006198
75837,(E1e_2),(A1_2),0.927801,0.616139,0.581509,0.626761,1.017240,0.009855,1.028459
75839,(E1b_2),(A1_2),0.906893,0.616139,0.560928,0.618516,1.003858,0.002156,1.006232
75840,(Mode_1),(A1_2),0.940869,0.616139,0.583469,0.620139,1.006493,0.003764,1.010531
75843,"(E1d_2, B1b_2)",(A1_2),0.936295,0.616139,0.581836,0.621424,1.008578,0.004948,1.013960
75845,(E1d_2),"(A1_2, B1b_2)",0.950016,0.607971,0.581836,0.612448,1.007364,0.004253,1.011552
75849,"(undecided_voter_False, B1b_2)",(A1_2),0.934662,0.616139,0.581836,0.622510,1.010340,0.005955,1.016878
75851,(undecided_voter_False),"(A1_2, B1b_2)",0.947403,0.607971,0.581836,0.614138,1.010143,0.005842,1.015982
75853,"(E1d_2, undecided_voter_False)",(A1_2),0.900686,0.616139,0.565175,0.627494,1.018430,0.010227,1.030483
75858,"(E1d_2, undecided_voter_False, B1b_2)",(A1_2),0.888272,0.616139,0.557334,0.627437,1.018337,0.010036,1.030325
75861,"(E1d_2, undecided_voter_False)","(A1_2, B1b_2)",0.900686,0.607971,0.557334,0.618789,1.017792,0.009743,1.028376
75866,"(E1c_2, B1b_2)",(A1_2),0.934662,0.616139,0.579876,0.620412,1.006937,0.003995,1.011259
75868,(E1c_2),"(A1_2, B1b_2)",0.948383,0.607971,0.579876,0.611436,1.005700,0.003286,1.008918
75870,"(E1d_2, E1c_2)",(A1_2),0.910160,0.616139,0.569095,0.625269,1.014819,0.008310,1.024366
75875,"(E1c_2, undecided_voter_False)",(A1_2),0.899379,0.616139,0.563541,0.626589,1.016962,0.009399,1.027987
75879,"(E1d_2, E1c_2, B1b_2)",(A1_2),0.896766,0.616139,0.560928,0.625501,1.015195,0.008396,1.025000
75882,"(E1d_2, E1c_2)","(A1_2, B1b_2)",0.910160,0.607971,0.560928,0.616296,1.013692,0.007577,1.021695
75889,"(E1c_2, undecided_voter_False, B1b_2)",(A1_2),0.886965,0.616139,0.555701,0.626519,1.016848,0.009207,1.027795
75892,"(E1c_2, undecided_voter_False)","(A1_2, B1b_2)",0.899379,0.607971,0.555701,0.617871,1.016284,0.008904,1.025908
75898,"(B1c_2, B1b_2)",(A1_2),0.936295,0.616139,0.579222,0.618632,1.004047,0.002335,1.006539
75900,(B1c_2),"(A1_2, B1b_2)",0.942829,0.607971,0.579222,0.614345,1.010484,0.006009,1.016527
75903,"(undecided_voter_False, B1c_2)",(A1_2),0.894479,0.616139,0.557988,0.623813,1.012456,0.006865,1.020401
75906,"(E1d_2, B1c_2)",(A1_2),0.895459,0.616139,0.557661,0.622765,1.010756,0.005934,1.017567
75910,"(E1c_2, B1c_2)",(A1_2),0.893499,0.616139,0.556681,0.623035,1.011193,0.006162,1.018294
75914,"(Mode_1, B1c_2)",(A1_2),0.886312,0.616139,0.551780,0.622558,1.010419,0.005690,1.017008
75920,"(undecided_voter_False, B1c_2, B1b_2)",(A1_2),0.888598,0.616139,0.554394,0.623897,1.012592,0.006894,1.020629
75924,"(undecided_voter_False, B1c_2)","(A1_2, B1b_2)",0.894479,0.607971,0.554394,0.619795,1.019449,0.010577,1.031100
75928,"(E1d_2, B1c_2, B1b_2)",(A1_2),0.888925,0.616139,0.553741,0.622933,1.011027,0.006040,1.018019
75931,"(E1d_2, B1c_2)","(A1_2, B1b_2)",0.895459,0.607971,0.553741,0.618387,1.017133,0.009327,1.027295
75937,"(E1c_2, B1c_2, B1b_2)",(A1_2),0.887292,0.616139,0.552761,0.622975,1.011096,0.006066,1.018133
75940,"(E1c_2, B1c_2)","(A1_2, B1b_2)",0.893499,0.607971,0.552761,0.618647,1.017560,0.009539,1.027995
75946,"(E1e_2, B1b_2)",(A1_2),0.914080,0.616139,0.573669,0.627591,1.018588,0.010469,1.030753
75948,(E1e_2),"(A1_2, B1b_2)",0.927801,0.607971,0.573669,0.618310,1.017005,0.009592,1.027086
75950,"(E1d_2, E1e_2)",(A1_2),0.886965,0.616139,0.558968,0.630203,1.022826,0.012474,1.038032
75954,"(E1c_2, E1e_2)",(A1_2),0.882718,0.616139,0.556354,0.630274,1.022942,0.012478,1.038232
75959,"(undecided_voter_False, E1e_2)",(A1_2),0.878798,0.616139,0.556354,0.633086,1.027505,0.014893,1.046188
75963,"(B1c_2, E1e_2)",(A1_2),0.874224,0.616139,0.550147,0.629297,1.021357,0.011504,1.035497
75966,"(Mode_1, E1e_2)",(A1_2),0.881738,0.616139,0.555701,0.630233,1.022876,0.012428,1.038118
75971,"(E1d_2, E1e_2, B1b_2)",(A1_2),0.873571,0.616139,0.551127,0.630890,1.023942,0.012887,1.039965
75974,"(E1d_2, E1e_2)","(A1_2, B1b_2)",0.886965,0.607971,0.551127,0.621363,1.022027,0.011878,1.035368
75980,"(E1b_2, B1b_2)",(A1_2),0.893826,0.616139,0.554067,0.619883,1.006077,0.003347,1.009851
75982,(E1b_2),"(A1_2, B1b_2)",0.906893,0.607971,0.554067,0.610951,1.004901,0.002702,1.007659
75984,"(Mode_1, B1b_2)",(A1_2),0.926821,0.616139,0.575302,0.620726,1.007446,0.004252,1.012096
75986,(Mode_1),"(A1_2, B1b_2)",0.940869,0.607971,0.575302,0.611458,1.005736,0.003281,1.008975
75988,"(E1d_2, Mode_1)",(A1_2),0.892192,0.616139,0.557988,0.625412,1.015051,0.008274,1.024756
75993,"(Mode_1, undecided_voter_False)",(A1_2),0.889905,0.616139,0.557334,0.626285,1.016468,0.009029,1.027150
75996,"(Mode_1, E1c_2)",(A1_2),0.891212,0.616139,0.556027,0.623900,1.012597,0.006917,1.020638